*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#ACD8E3, #F4B5F5);   
    align-items: center; 
}
form input{
        font-size: 18px;
        width: 400px;
        padding: 12px;
        padding-left: 20px;
        margin: 5px;
        border: none;
        border-radius: 12px;
}


.image-container img{
    width: 350px;
    padding: 0px;
    margin: -50px;

}

.other-options img{
    width: 50px;
    margin-left: 40px;
}
.main{
   position: relative;
    text-align: center;
}
hr{
    width: 100px;
    display: inline-block;
    margin: 0;
}
.connect-with p{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}
form button{
    font-size: 22px;
    font-weight: bold;
    background-color:#B06EE6;
    color: white;
    width: 350px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
form p span a{
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    color: #023B90;
}
.other-options{
   margin-right: 15px;
    
}